* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  background-color: rgb(231, 224, 224);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.introduction {
  height: 90vh;
  width: 100%;
  background-image: linear-gradient(navy, black);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 50px;
  animation: slideInLeft 1s ease;
}

h4 {
  font-size: 1.7em;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 4px #c8d2de;
  transform: translate(-30px, -150px);
  position: relative;
  z-index: 10;
}

.img {
  height: 700px;
  transform: translate(50px, 30px);
  position: relative;
  z-index: 1;
}

h1 {
  color: rgb(255, 255, 255);
  font-size: 3.5rem;
  text-shadow: 2px 2px 4px #c8d2de;
  transform: translate(-180px);
}

.role {
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 4px #c8d2de;
  font-size: 18px;
  position: relative;
  z-index: 10;
  transform: translate(250px, -250px);
}

.bio-content {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.bio-header {
  font-style: oblique;
  font-size: 3rem;
  margin: 30px 30px;
}

.bio {
  padding: 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 500px;
  width: 600px;
  font-size: 20px;
  font-style: italic;
  line-height: 25px;
  background-image: linear-gradient(rgb(231, 224, 224), rgba(0, 0, 128, 0.727));
  box-shadow: 3px 3px 4px black;
}

.images {
  height: 500px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.images > img {
  height: 100px;
  mix-blend-mode: darken;
}

.html {
  transform: translate(80px, 0px);
}
.css {
  transform: translate(-150px, 120px);
}
.js {
  transform: translate(-30px, 170px);
}
.node {
  transform: translate(-30px, 30px);
}
.db {
  transform: translate(-50px, 60px);
}
.react {
  transform: translate(60px, 40px);
}

.project-container {
  height: 95vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-image: linear-gradient(to right, black, navy);
}

.project-container > h2 {
  text-align: center;
  font-size: 3rem;
  text-decoration: underline;
  font-style: oblique;
  color: #dce0e5;
  text-shadow: 2px 2px 3px #c8d2de;
  margin: 10px 10px;
}

.project-content {
  height: 300px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.project {
  padding: 10px;
  height: 100px;
  width: 90%;
  border: 2px solid #1a1a1a;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 10px 10px;
  background-image: linear-gradient(to right, navy, black);
  color: #dce0e5;
  box-shadow: 2px 2px 4px #c8d2de;
  transition: 0.5s ease;
  animation: shaker 1s;
}

.project:hover {
  transform: scale(1.1);
  animation: none;
}

.project > h3 {
  width: 40%;
  font-size: 1.7em;
  text-shadow: 2px 1px 3px #c8d2de;
}

.prj-para {
  width: 60%;
  text-shadow: 1px 1px 3px #c8d2de;
  font-style: italic;
}

.links {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.link-section {
  height: 500px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-image: linear-gradient(
    to right,
    rgb(231, 224, 224),
    rgba(0, 0, 128, 0.866)
  );
}

.contact-header {
  font-size: 3rem;
  text-align: center;
  text-shadow: 2px 2px 3px #1a1a1a;
}

a {
  height: 50px;
  width: 50px;
  font-size: 2rem;
  color: #1a1a1a;
  margin: 20px;
  mix-blend-mode: darken;
}

.link-section > h2 {
  font-size: 2rem;
  transform: translateY(-100px);
  text-shadow: 2px 2px 3px #dce0e5;
}

.link-section > p {
  transform: translateY(-50px);
  font-size: 1.5em;
  text-shadow: 2px 2px 3px #dce0e5;
}

.footer {
  height: 30px;
  width: 100%;
  background-color: #e3e6e9c7;
  display: inline;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes shaker {
  0% {
    transform: rotate(2deg);
    transition: 0.5s ease-in-out;
  }
  50% {
    transform: rotate(-2deg);
    transition: 0.5s ease-in-out;
  }
  100% {
    transform: rotate((4));
    transition: 0.5s ease-in-out;
  }
}
